@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,400;0,700;1,400&family=Overpass+Mono:wght@400;700&display=swap');

.App * {
  box-sizing: border-box;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
.withFadeInAnimation {
  animation-name: fade-in;
  animation-duration: 0.47s;
}

@keyframes pop-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
}
.withPopInAnimation {
  animation-name: pop-in;
  animation-duration: 0.47s;
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
}
.withSlideRightAnimation {
  animation-name: slide-right;
  animation-duration: 0.47s;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
}
.withSlideDownAnimation {
  animation-name: slide-down;
  animation-duration: 0.47s;
}

.OutputSegmentBox {
  background-color: #080c14c0;
  background-color: #ffffff;

  border: 2px solid #fffe;
  border: 1px solid #999e;
  border-radius: 1rem;
  padding: 20px 28px;
  margin: 12px 0;

  text-align: start;
}

.OutputSegmentBox pre {
  /* font-family: 'Azeret Mono', monospace !important; */
  font-family: 'Overpass Mono', monospace !important;

  /* color: white; */
  font-size: 14px;
  font-family: monospace;
  white-space: pre-wrap;
  margin-bottom: 12px;

  filter: brightness(1.2);
  font-weight: bold;
}

.OutputCommandHeadingBox {
  background: #ffd000;
  border: 1px solid #999e;
  overflow: hidden;
}
.OutputCommandHeadingBox > * {
  animation-name: slide-right;
  animation-duration: 0.47s;
}

.FancyBox {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 6px 16px 0 #0005;
  animation-name: pop-in;
  animation-duration: 0.47s;
  animation-timing-function: ease-out;
}

.glass {
  backdrop-filter: blur(8px);
}

.withShadow {
  box-shadow: 0 6px 16px 0 #0005;
}

.withSmallShadow {
  box-shadow: 0 3px 8px 0 #0002;
}

.fancyFont {
  font-family: 'pragmatapro-fraktur', serif;
  font-weight: 400;
  font-style: normal;
}

button {
  pointer-events: all;
}

.CommandStip {
  background-image: linear-gradient(180deg, #455555, #546464);
  color: #fffd;
  font-weight: bold;
  text-shadow: 0 0 3px #000, 0 0 8px #0009;
  border: 1px solid #0004;
  transition: background-color 0.2s ease-in-out,
    background-image 0.2s ease-in-out, color 0.2s ease-in-out;
}

.CommandStip.continuous {
  background: linear-gradient(180deg, #a51225, #861221);
}

.CommandStip.active {
  background-color: #5ba828;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 20px,
    #367a08 20px,
    #367a08 40px
  );
  background-size: 200% 200%;
  animation: barberpole 3s linear infinite;
}

.CommandStip.active.continuous {
  background-color: #a90f2e;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 20px,
    Crimson 20px,
    Crimson 40px
  );
}
@keyframes barberpole {
  100% {
    background-position: -56.568px 0;
  }
}

/******************************************************
  *  CSS3 Pretty Scrollbar
  ******************************************************/

.pretty-scrollbar::-webkit-scrollbar-track {
  background-color: #0001;
}

.pretty-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #0000;
}

.pretty-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #3336;
}

.animatedbg {
  background-color: #83ebc8;
  box-shadow: inset 0 0 256px 0 #0008, inset 0 0 32px 0 #0088;
}
