code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App * {
  box-sizing: border-box;
}

.OutputSegmentBox {
  background-color: #282c34;
  border-radius: 5px;
  padding: 20px 28px;
  margin-bottom: 12px;
}

.OutputSegmentBox pre {
  color: white;
  font-size: 14px;
  font-family: monospace;
  white-space: pre-wrap;
  margin-bottom: 12px;
}

/******************************************************
  *  CSS3 Pretty Scrollbar
  ******************************************************/

.pretty-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #0000;
}

.pretty-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #0000;
}

.pretty-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #3336;
}

/******************************************************
 *  CSS3 Aniamted Background
 ******************************************************/
.main-area {
  content: "";
  
  background-image: 
    repeating-linear-gradient(
      -45deg, 
      #7af9ab, 
      #7af9ab 6rem,
      #a8ffc9 6rem,
      #a8ffc9 12rem
    );
  background-size: 200% 200%;
  animation: barberpole 100s linear infinite;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}
